boto==2.38.0
mysql-python==1.2.5
-e https://YOMPhub.com/vitaly-krugl/haigha/tarball/temp-numenta#egg=haigha-0.7.4rc100
pytz==2015.2
sqlalchemy==0.9.4

# required by tests
mock==1.0.1
unittest2==0.5.1
pytest==2.4.2
pytest-cov==1.6
pytest-xdist==1.8
