*.pyc
*.sublime-project
*.sublime-workspace
.DS_Store
.idea
build/sphinx
conf/.YOMP_id
conf/ssl/*.bak
conf/YOMP-api.conf
conf/application.conf
conf/YOMP.conf
conf/YOMP-app.conf
conf/model-checkpoint.conf
conf/model-swapper.conf
conf/product.conf
conf/quota.conf
conf/rabbitmq.conf
conf/supervisord.conf
conf/overrides/
YOMP.egg-info
YOMP/engine/utils/logs
YOMP-api-server/conf/
YOMP-app/logs
YOMP-app/static/YOMP-common
YOMP-supervisor.sock
YOMP-supervisord.pid
logs/
node_modules/
npm-debug.log
sauce_connect.*
tests/py/integration/engine/utils/logs
tests/py/unit/engine/utils/logs
tests/results
*.*.un~
