[Unit]
Description=YOMP stopped
 
[Install]
Alias=YOMP-stopped.service
 
[Service]
Type=forking
ExecStart=/etc/init.d/YOMP-preload YOMP-stopped
ExecStop=/etc/init.d/YOMP-preload stop
ExecReload=/etc/init.d/YOMP-preload reload
Restart=on-abort

